@import "tailwindcss";

:root {
  --background: #F1F1F1;
  --foreground: #171717;
  --primary: #2BB8BA;
  --secondary: #FA7E7D;
  --mute: #727272;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-mute: var(--mute);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  background-image: url('/images/motif.svg');
  background-repeat: repeat;
  background-size: 1200px;
  background-position: center;
}